@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Nanum+Myeongjo&family=Oxanium:wght@300;400;700&family=Poppins:wght@300;500;800&display=swap');

:root {
    --cor-primaria:  #98fb98;
    --cor-secundaria:  #0e5698;
    --cor-terciaria: palevioletred;
    --cor-hover: #222122e8;
    --cor-foto: #980e98;
    
    --font-primaria: 'Chewy', cursive;
    --font-secundaria: 'League Spartan', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    flex-direction: space-between;
    gap: 82px;
}

.apresetacao_conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apresetacao_conteudo_subtitulo{
    font-family: var(--font-primaria);
    font-weight: 400;
}

.titulo{
    font-size: 1.86rem;
    font-family: var(--font-primaria);
}

.destaque {
    color: var(--cor-terciaria);
}

.paragrafo {
    font-size: 1.25rem;
    font-family: var(--font-secundaria)

}

.foto {
    width: 50%;
    border-radius: 110px;
    border: 10px ridge var(--cor-foto);
    
    }

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 21.5px 0;
}

.link_links {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 60%;
    text-align: center;
    border-radius: 8px;
    border: 2px solid  rgb(82, 4, 65);
    font-size: 1.5rem;
    font-weight: 600px;
    padding: 5.2px 0;
    text-decoration: none;
    color: var(--cor-terciaria);    
}

.link_links:hover {
    background-color: var(--cor-hover);
    padding: 6.5px;
}

.rodape {
    display: flex;
    justify-content: center;
    gap: 11px;
    color: var(--cor-hover);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-primaria);
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
}

@media (max-width: 902px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho_menu {
        justify-content: center;
        gap: 7.5%
    }

     .cabecalho_menu_link {
        font-size: 1.4    rem;
     }
    .apresentacao {
        flex-direction: column-reverse; 
        padding: 5%;
    }

    .apresetacao_conteudo {
        width: auto;
    }
}
